html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #534B62;
    color: #FBFFFE;
}

body, .settings {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    padding: 24px;
    margin-bottom: 50px;
    border-bottom: #C0E0DE 1px solid;
}

header h1 {
    font-weight: 900px;
    font-size: 53px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    align-items: center;
    flex: 1;
    max-width: 350px;
    gap: 16px;
    margin-right: 50px;
}

.settings h3 {
    font-size: 36px;
}

button {
    padding: 12px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background-color: #9799CA;
    color: #fff;
    transform: scale(1.1);
    transition: .2s;
}

.clicked {
    background-color: #9799CA;
    color: #fff;
    transform: scale(1.1);
}

.slider {
    /* -webkit-appearance: none; */
    appearance:none;
    width: 80%;
    height: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: opacity .2s ;
    background-color:bisque;
    outline: none;
    margin: 15px 0;
}

.sliderValue {
    color: #C0E0DE;
    font-size: 24px;
    font-weight: 700;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.sketchpad {
    display: grid;
    width: 500px;
    height: 500px;
}

.grid {
    background-color: #fff;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type='color']::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
}
